body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    background:  linear-gradient(to left, #00f260, #0575e6);
}

.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.MainBox{
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 35vw;
    min-height: 80vh;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.BoxInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(167, 167, 167);
    padding: 5px;
}
.BoxInfo h1{
    color: salmon;
}

.BoxInfo img{
    margin-left: 35px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.Links a{
    text-decoration: none;
    color: rgb(167, 167, 167);
}

a:hover{
    transform: scale(1.2);
    color: salmon;
}

.MainBox:hover{
    transform: scale(1.1);
}
.BoxInfo a{
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.BoxInfo a:hover{
    color: salmon;
}

.w{
    margin-top: -15px;
}

.l2{
    margin-left: 50px;
}