body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background:  linear-gradient(to left, #00f260, #0575e6);
    height: 100%;
    overflow-x: hidden;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.MainBox{
    margin-top: 15vh;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 35vw;
    min-height: 80vh;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media only screen and (max-width: 600px) {
    .MainBox{
        margin-top: 15vh;
        background-color: rgba(0, 0, 0, 0.6);
        width: 90%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .MainBox:hover{
        transform: none;
    }
  }

.BoxInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(167, 167, 167);
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.BoxInfo h1{
    color: salmon;
}

.BoxInfo img{
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.Links a{
    text-decoration: none;
    color: rgb(167, 167, 167);
}


.MainBox:hover{
    transform: scale(1.1);
}
.BoxInfo a{
    text-decoration: none;
    color: rgb(167, 167, 167);
}

.BoxInfo a:hover{
    color: salmon;
}

.w{
    margin-top: -15px;
}

.l2{
    margin-left: 50px;
}

.AboutBox{
    margin-top: 25vh;
    margin-bottom:10vh ;
}

.ProjectBox{
    margin-top: 25vh;
    margin-bottom:10vh ;
}

.ProjectBox a{
    text-decoration: none;
}